.root {
    -fx-default-button: red;
}

.button {
    -fx-font-size: 17px;
    -fx-background-radius: 30px;
}

.button:default {
    -fx-font-size: 17px;
    -fx-background-radius: 30px;
    -fx-background-color: #1d3d78;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: #5070b5;
}

.button-red {
	-fx-background-color: #c41010;
    -fx-text-fill: black;
}
.button-orange {
	-fx-background-color: #FF8C00;
    -fx-text-fill: black;
}
.button-yellow {
	-fx-background-color: #FFFF00;
    -fx-text-fill: black;
}

.button-language {
    -fx-font-size: 12px;
    -fx-background-radius: 50%;
    -fx-background-color: #1d3d78;
    -fx-text-fill: #ffffff;
    -fx-padding: 5px;
    -fx-label-padding: 0px;
}

.bg-white {
    -fx-background-color: #ffffff;
}

#cancelBtn, .btn-blue {
    -fx-background-color: #1d3d78;
    -fx-text-fill: #ffffff;

}

#discardBtn, .btn-red {
    -fx-background-color: #c41010;
    -fx-text-fill: #ffffff;
}

#textFieldWithPadding {
    -fx-padding: 0, 0, 0, 15px;

}

.gridpaneDashboardHeader {
    -fx-background-color: #ffffff;
}

.gridpaneDashboard {
    -fx-background-color: #ebebea;
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: #c0cc0f;
    -fx-border-width: 0 0 3 0;
}

.bg-#ffffff {
    -fx-background-color: #ffffff;
}

.btn-terug {
    -fx-background-color: #ffffff;
    -fx-text-fill: #78C0AB;
    -fx-font-weight: bold;
    -fx-background-radius: 30px;
}

.bg-gray {
    -fx-background-color: #D4D4D4;
}

.bg-rounded {
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}

.gridDetails {
    -fx-background-color: transparent;

}

.table-view {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header .label{
    -fx-font-size: 16;
    -fx-text-background-color: #ffffff;
}

.table-view .column-header-background, .table-view .header, .table-view .column-header  {
    -fx-font-size: 16;
    -fx-font-family: "Arial", bold;
    -fx-alignment: center;
    -fx-background-color: #1D3D78;
    -fx-text-background-color: #ffffff;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-font-size: 14;
    -fx-font-family: "Arial";
    -fx-alignment: center;
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell:odd,  #list-view.list-cell:odd{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even, #list-view.list-cell:even{
    -fx-background-color: rgba(192, 204, 15, 0.05);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:hover, .table-row-cell:selected, #list-view.list-cell:filled:selected:focused, #list-view.list-cell:filled:selected,#list-view.list-cell:hover {
    -fx-background-color: #1D3D78;
    -fx-text-background-color: #ffffff;
}

.ignoreHover:row-selection .ignoreHover:filled:hover, .ignoreHover:focused .ignoreHover:filled:focused:selected:hover,
    .ignoreHover.table-view:row-selection .table-row-cell:filled:hover, .ignoreHover.table-view:focused .table-row-cell:filled:focused:selected:hover,
    .ignoreHover .table-view:row-selection .table-row-cell:filled:focused:hover,
    .ignoreHover:row-selection .table-row-cell:filled:focused:hover, .ignoreHover:row-selection .table-row-cell:filled:focused:hover,
    .ignoreHover .table-view:row-selection .table-row-cell:filled:hover, .ignoreHover .table-view:focused .table-row-cell:filled:focused:selected:hover{
    -fx-background-color: #fff;
    -fx-text-background-color: #292929;
}

#list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-font-size: 14;
    -fx-font-family: "Arial";
    -fx-alignment: center;
    -fx-border-width: 1px;
    -fx-border-color: #c0cc0f;
}

.menuButton {
    -fx-font-size: 14pt;
    -fx-font-family: "Arial", bold;
    -fx-background-color: #1D3D78;
    -fx-text-background-color: #ffffff;
    -fx-alignment: center;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.menuButton-active {
    -fx-background-color: #ffffff;
    -fx-text-background-color: #1D3D78 !important;
    -fx-text-fill: #1D3D78 !important;
    -fx-border-color: #1D3D78;
    -fx-border-width: 3px;
}

.menuButton:hover {
    -fx-background-color: #5070b5;
}

.combo-box {
    -fx-border-color: transparent;
    -fx-text-fill: #1D3D78 ;
}

.combo-box-base {
    -fx-background-color: #ffffff, #ffffff, #c0cc0f, #ffffff;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
    -fx-text-fill: #1D3D78!important;
}

.combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
    -fx-font-family: "Arial" ;
    -fx-background-color: #ffffff ;
    -fx-text-fill: #1D3D78 ;
}
.combo-box .combo-box-popup .list-cell:hover {
    -fx-font-family: "Arial", bold ;
    -fx-background-color: #5070b5 ;
}

#menu-bar, #menu-bar:selected, #menu-bar:focused, #menu-bar:active, #menu-bar:default,#menu-bar:showing {
    -fx-background-color: #ffffff, #ffffff, #c0cc0f, #ffffff;
    -fx-padding: 3px;
    -fx-text-fill: #1D3D78;
}

.menu-item {
    -fx-font-family: "Arial", bold ;
    -fx-font-size: 14px;
    -fx-background-color: #ffffff, #ffffff, #c0cc0f, #ffffff;
    -fx-background-radius: 10;
    -fx-padding: 3px;
    -fx-text-fill: #1D3D78;
}

.menu-item:focused, .menu-item:hover, .menu-item:focused .label, .menu-item:focused .label:focused {
    -fx-font-family: "Arial", bold ;
    -fx-border-radius: 0!important;
    -fx-text-fill: #1D3D78;
    -fx-background-color: #5070b5 ;
}

.context-menu {
    -fx-border-color: #c0cc0f;
    -fx-border-width: 1px;
}

.dashboardTile:hover {
    -fx-opacity: .4;
}

.alert, .alert > *.button-bar > *.container, .alert > *.label.content, .alert:header *.header-panel, .alert:header *.header-panel *.label {
    -fx-background-color: #ffffff;
    -fx-text-fill: #1D3D78;
    -fx-font-size: 15px;
    -fx-text-background-color: #1D3D78 !important;
}


.alert > .dialog-pane > .button-bar {
    -fx-font-size: 24px;
    -fx-background-color: indianred;
    -fx-font-family: "Arial";
}

.popupWarning {
    -fx-background-color: cornsilk;
    -fx-background-radius: 10;
    -fx-padding: 10;
 /* -fx-border-color: black; 
    -fx-border-width: 4;
    -fx-border-radius: 10;
 */ -fx-font-size: 16;
}

.popupSuccess {
    -fx-background-color: lightgreen;
    -fx-background-radius: 10;
    -fx-padding: 10;
 /* -fx-border-color: black; 
    -fx-border-width: 4;
    -fx-border-radius: 10;
 */ -fx-font-size: 16;
}

.text-area {
    -fx-border-color: #c0cc0f;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-background-color: transparent, white, transparent, white;
    -fx-faint-focus-color: #fff;
}

.text-area:focused, .text-area:hover, .text-area:active, .text-area:focused:hover {
    -fx-border-color: #c0cc0f;
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused .content, .text-area:focused {
    -fx-background-color: transparent, white, transparent, white;
}

.check-box .box {
    -fx-background-color: #fff;
    -fx-border-color:#1D3D78;
}

.check-box:selected .mark {
    -fx-background-color: #fff;
}

.check-box:selected .box {
    -fx-background-color: #1D3D78;
}

/*
.bg1 {
    -fx-background-image: url("../pictures/bg1.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 450 275;
    -fx-background-position: bottom left;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.bg2 {
    -fx-background-image: url("../pictures/bg2.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 550 400;
    -fx-background-position: left bottom;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
*/